.co-hero-slide-content-1 h1 {
    font-size: 60px !important;
    font-weight: 700 !important;
}
 .co-single-service-4 .icon {
    color: #3e3e3e !important;
    float: none !important;
    margin-right: 30px !important;
  
}
.co-single-service-4
{
	text-align:center !important;
}
 
.main-menu > ul > li.active > a, .main-menu > ul > li:hover > a {
    color: #ff3366 !important;
}
.btn-hover-gradient:hover, .co-isotop-filter-1 button.active, .co-isotop-item-1::before, .co-single-service-1:hover i, #scrollUp:hover, .bg-gradient, .btn-gradient, .main-title-sep::after, .main-title-sep::before, .co-single-testimonial-2::before, .co3-testimonial-slider .slick-dots li.slick-active button, .co-hero-slide-item-3::before, .co-single-service-3:hover, .co-isotop-filter-2 button.active, .widget_calendar table caption, tfoot, .main-timeline .date, .co-footer-newsletter-1 .clear input.submit, .theme_color
{
	background-image: linear-gradient(45deg, #ff003c 0%, #ff547c 100%) !important;
} 
.btn-hover-gradient:hover, .co-isotop-filter-1 button.active, .co-isotop-item-1::before, .co-single-service-1:hover i, #scrollUp:hover, .bg-gradient, .btn-gradient, .main-title-sep::after, .main-title-sep::before, .co-single-testimonial-2::before, .co3-testimonial-slider .slick-dots li.slick-active button, .co-hero-slide-item-3::before, .co-single-service-3:hover, .co-isotop-filter-2 button.active, .widget_calendar table caption, tfoot, .main-timeline .date, .co-footer-newsletter-1 .clear input.submit, .theme_color
{
	background-image: linear-gradient(45deg, #ff003c 0%, #ff547c 100%) repeat scroll 0 0;
}
 
.btn-hover-gradient:hover {
   background-image: linear-gradient(45deg, #ff003c 0%, #ff547c 100%) !important;
    color: #ffffff !important;
}
.btn-hover-gradient:hover, .co-isotop-filter-1 button.active, .co-isotop-item-1::before, .co-single-service-1:hover i, #scrollUp:hover, .bg-gradient, .btn-gradient, .main-title-sep::after, .main-title-sep::before, .co-single-testimonial-2::before, .co3-testimonial-slider .slick-dots li.slick-active button, .co-hero-slide-item-3::before, .co-single-service-3:hover, .co-isotop-filter-2 button.active, .widget_calendar table caption, tfoot, .main-timeline .date, .co-footer-newsletter-1 .clear input.submit, .theme_color {
    background-image: linear-gradient(45deg, #ff003c 0%, #ff547c 100%) repeat scroll 0 0;
}
.btn-border-gradient {
    
    border-color: #45deg, #ff003c 0%, #ff547c 100% !important;
    color: #ff3366 !important;
}
.co-single-service-4:hover .icon i {
   color: #ff3366 !important;
}
.co-blog-content .title a:hover, .co-blog-content .co-blog-meta .author:hover, .co-footer-widget-1 ul li a:hover, .co-footer-social-3 a:hover, .co-blog-sidebar ul li a:hover, .sub-menu li a:hover
{
	color: #ff3366 !important;
}
.co-blog-sidebar .tagcloud a:hover
{
	color:#fff;
}

.co-blog-sidebar .tagcloud a:hover
{
	color:#fff;
	background-color:#ff3366 ;
}
.header-section {
    background-color: transparent !important;
    z-index: 9999;
    opacity: 1;
}

.header-sticky.stick
{
	background-color:#232323 !important;
	 
} 
.header-sticky.stick .text-black  > ul > li{
    color: #fff !important;
}
.main-menu.text-black > ul > li > a {
    color: #fff  !important;
}
use {
    stroke: #ff003c !important;
}
.co-hero-slide-item-1::before {
    background-color: transparent;
}
.co-hero-slide-content-1 h1, .co-hero-slide-content-1 h4
{
	    color: #000000;
}
.main-menu.text-black > ul > li > a {
    color: #030303 !important;
}
.btn-hover-gradient:hover
{
	border:none;
}
.btn-border-white {
    background-color: transparent;
    border-color: #000 !important;
    color: #000 !important;
}

.co-footer-widget-1 .tagcloud a:hover {
    background-color: #030303;
}

.co-single-service-1 {
   border-right: 1px solid #7f7f7f54;
}
.co-service-wrapper-1 {
    display: block;
    margin-top: 0px;
    overflow: hidden;
    position: relative;
    max-width: 100%;
    z-index: 1;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.co-hero-slide-content-1 h1
{
	line-height:1.3;
}
@media only screen and (max-width: 600px) {
  .co-hero-slide-content-1 h1
{
	line-height:1.3;
}
}
.co-hero-slide-content-1 .btn
{
	border-radius:35px;
}
.widget_calendar table tfoot {
    border: 0;
    border: 1px solid #ff003c;
}
.widget_calendar table caption
{
	border: 1px solid #ff003c;
}
.btn-white {
    background-color: #ff003c !important;
    border-color: #ff003c !important;
	color: #fff;
}
.co-hero-slide-content-1 .btn
{
	color: #fff;
}
.sub-menu li:hover .menu-sep, .sub-sub-menu li:hover a {
    color: rgb(255, 0, 60) !important;
}
.tags-btn a:hover {
    color: #ff003c;
}
.sub-menu .depth_1 li a:hover, .sub-menu .depth_2 li a:hover {
    color: #ff003c !important;
}
.sub-menu .depth_1 li a, .sub-menu .depth_2 li a,.sub-menu .depth_0 li a {
    color: #ff003c !important;
}
.sub-menu li:last-child
{
	color: #ff003c !important;
}
.co-about-content-1 a.btn
{
	border-radius:40px; 
}
.main-menu>li:hover a {
    color:#ff003c !important;
}
.main-menu .sub-menu li:hover a
{
color:#ff003c !important;	
}
.sub-menu>li:hover .menu-sep, .sub-menu > li:hover a .menu-sep  {
    background: #ff003c !important;
}

.btn
{
	 border : 1px solid red;
}
.btn-border-gradient
{
	border-color: #ff3366 #ff3366 #ff3366 #ff3366 !important;
}
.co-cta-wrapper-1  .btn-white
{
	background-color:#fff !important;
	border-radius: 40px;
}
.co-cta-wrapper-1  .btn-white:hover
{
	color: #3e3e3e !important;
}
.header-section
{
	background-color:#fff !important;
}
.co-comment-form input[type="submit"]:hover
{
	background-image: linear-gradient(45deg, #ff003c 0%, #ff547c 100%) !important;
}
.header-sticky.stick {
    background-color: #fff !important;
}